[submodule "Django"]
	path = Django
	url = https://github.com/VictorMongeM/django.git
[submodule "next"]
	path = next
	url = https://github.com/Miguel20-bit/next.git
[submodule "Next"]
	path = Next
	url = https://github.com/Miguel20-bit/Next.git
